.mat-card-header {
    background-color: rgb(0, 179, 54);
}
.mat-tab-group {
    background-color : whitesmoke;
}
.btn-btn{
    background-color: rgb(0, 179, 54);

}
.mat-tab-label-content{
    font-size: 21px
}
.card-title{
    font-size: 24px;
}
.col-md-12{
    font-size: 25px;
}
.col-md-6{
    font-size: 20px;

}
.mat-form-field{
    font-size: 21px;
    margin-top:-1px;
}
