.mat-card-header {
    font-size:22px;
    background-color: rgb(0, 179, 54);
}
.mat-tab-group {
    background-color : whitesmoke;
}
.btn-btn{
    background-color: rgb(0, 179, 54);
}
.container-fluid{
font-size: 19px;
}

.example-full-width{
    font-size: 19px;
}
.col-md-4{
    font-size: 19px;
}
.col-md-6{
    font-size: 19px;
}
.mat-card-content{
    font-size: 50px;
}