.btn-btn{
    background-color:rgb(0, 179, 54);
    padding: 15px 24px;
}
.card-header{
    font-size: 16px;
    background-color: rgb(0, 179, 54);
}
.content{
  font-size: 16px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 16px;
    
  }
  
  h4 {
    text-transform: uppercase;
  }
  img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    margin-top: 15px;
  }
  .panel-footer {
    padding: 5px;
    height: 40px;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -10px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: white;
  }