.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.card{
    font-size: 19px;
}
.card-header{ 
    background-color: rgb(0, 179, 54);
    font-size: 19px;
}
.card-title{
    font-size: 30px;
}
.btn-btn{
    background-color: rgb(0, 179, 54);
}